/* BODY */
body {
  background-color: rgba(240,240,240,1);
  font-family: 'Open Sans', sans-serif;
  color: rgba(30,30,30,0.8);
  margin:0;
  line-height: 1.5;
}

/* headers */
h1, h2 {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

h1 {
  letter-spacing: 2px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  opacity: 0.7;
}

a {
  text-decoration: none;
  background: rgba(166, 158, 247, 0.6);
  padding: 0 5px;
}

a:hover {
  opacity: 0.6;
}

/* ------------------------------------------------ */
/* CLASS - STYLES */

.highlight {
  background: rgba(166, 158, 247, 0.6);
  padding: 0 5px;
}

.big-font {
  font-size: x-large;
}

.italic {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 1px;
}

/* ------------------------------------------------ */
/* CLASS - ELEMENTS */

/* BANNER */
.banner {
  height: 25vh;
  background:
    linear-gradient(180deg, rgba(200,200,200,0.7) 0%, rgba(100,100,100,0.3) 100%),
    url("http://unsplash.it/2000/500/?random");
  background-size: cover;
  color: rgba(240,240,240,1);
  text-align: center;
  padding: 5vh;
}
@media (max-height: 500px) {
  .banner {
    height: 125px
  }
}

.banner p {
  font-size: x-large;
}

/* CONTAINER - media queries */
.container {
  width: 1200px;
  margin: 30px auto;
  padding: 0 50px;
}

@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 792px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 568px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 376px;
  }
}
